body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(238, 182, 221);
}

.header_text {
    font-family:'Proxima Nova';
    font-size: 50px;
    font-weight: bold;
    color: rgb(245, 23, 245);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}